:root {
--spacing: 3rem;
--padding-container: 2rem;
--border-color: #ccc;

/* Light */
--bg-container-light: rgba(225, 225, 225, 0.1);
}

body {
    margin: 0;
    padding: 0;
    /* background: url(https://c4.wallpaperflare.com/wallpaper/217/741/78/churei-tower-mount-fuji-japan-nature-wallpaper-preview.jpg) no-repeat; */
    background-size: cover;
    font-size: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    margin: calc(var(--spacing) / 2) var(--spacing);
    align-self: flex-start;
    font-size: 22px;
    margin: calc(var(--spacing) / 2) var(--spacing);
    font-weight: 900;
}

h1 {
    margin: 0;
}

.main-container {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    height: 55vh;  
    display: flex;
}

/* Side Content */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: auto;
    border: 1px solid var(--border-color);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-right: none;
    padding: 0 var(--padding-container);
    background: var(--bg-container-light);
    backdrop-filter: blur(3px);
}

.lists {
    height: 70%;
    margin-bottom: 1rem;
}

.make-list {
    display: flex;
    align-items: center;
}

.make-list h3 {
    flex: 1 0 content;
}

.make-list form {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.options {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 2rem;
    font-size: 24px;
}

.options label {
    display: flex;
    align-items: flex-end;
}

.options #theme {
    height: 24px;
    width: 100px;
    font-size: 20px;
    padding-left: 6px;
    margin-left: 8px;
    border-radius: 6px;
}

.light-dark-mode {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

svg {
    width: 25px;
    height: 25px;
    transition: transform 200ms ease-in;
}

svg:hover {
    transform: scale(1.2);
}

.new-quote {
    align-self: center;
    margin-bottom: 2rem;
    padding: .5rem;
    font-size: 24px;
    border-radius: 6px;
    border: var(--border-color) 1px solid;
    cursor: pointer;
}

.new-quote:hover {
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.161);
}

/* Main Content */
.main {
    width: 45%;
    margin-right: auto;
    padding: 0 var(--padding-container);
    background: var(--bg-container-light);
    backdrop-filter: blur(3px);
    border: var(--border-color) 1px solid;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.tasks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 65%;
    font-size: 24px;
}

.task {
    cursor: pointer;
    margin-bottom: .75rem;
    display: flex;
    align-items: center;
}

.task .delete-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: ;
    transition: 200ms ease-in;
}

.task .delete-btn:hover {
    transform: scale(1.2);
    color: rgb(190, 25, 25);
    padding-bottom: 4px;
}

.main form {
    margin: .75rem 0;
}

.show {
    margin: .5rem .75rem .75rem .75rem;
    background: none;
    border: none;
    transition: 200ms ease-out;
}

.show:hover, 
.show:focus {
    color: var(--border-color);
}

/* Quotes */
.quote-container {
    align-self: center;
    width: 40%;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    padding: var(--padding-container);
    background: var(--bg-container-light);
    backdrop-filter: blur(3px);
    border: var(--border-color) 1px solid;
    border-radius: 16px;
}

.quote {
    margin: 0;
}

.person {
    margin: 0;
    margin-top: 6px;
    opacity: 0.5;

}

/* Custom checkbox */
[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.156);
    cursor: pointer;
}

/* Custom line through on checked - appears on layout, but cant be seen 
     .task label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 1.5px);
    height: 3px;
    opacity: 0.5;
    color: black;
    z-index: 5;
} */

.custom-checkbox {
    --checkbox-size: .75em;
    display: inline-block;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: var(--checkbox-size);
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox {
    transform: scale(1.2);
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: #ccc;
    box-shadow: inset 0 0 0px 1px white;
}

[type="checkbox"]:checked + label {
    opacity: .5;
    text-decoration: line-through;
}

/* Utilities */
input[type="text"] {
    border-radius: 12px;
    width: 40%;
    height: 26px;
    font-size: 20px;
    padding-left: 8px;
    margin-right: 8px;
}

form {
    display: flex;
    align-items: center;
}

button.plus{
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

button.plus:hover {
    transform: scale(1.2);
}

/* @media (max-width: 768px) {

}
